@model ErasmusPlus.Models.ViewModels.Admin.FieldsOfStudiesViewModel
@{
    ViewBag.Title = "FieldsOfStudies";
}
<div class="row">
    <div class="box">
        <div class="box-header with-border">
            <h3> Fields of studies </h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Degree</th>
                        <th>Faculty</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FieldsOfStudy)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Degree</td>
                            <td>@item.FacultyName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>